
<div class="user__main">
	<div class="user__main-about">
		当サイトの使用手順<br>
		　・サインイン後投稿フォームから投稿可能になります。<br>
		　・投稿詳細画面からコメントの投稿を行うことが可能。<br>
		　・投稿時にカテゴリーを選択するが、希望のカテゴリーが<br>
		  　　ない場合にはカテゴリータブから新規で追加をお願いします
	</div>
	<div class="user__main-about">
		今後実装予定の機能<br>
		　・SNS認証<br>
		　・Ajaxを使用した非同期通信の実装<br>
		　・お問い合わせ機能の追加
	</div>
</div>