<% if posts.errors.any? %>
    <div id="error_explanation">
      <h2><%= posts.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% posts.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>