<div class="post">
	<div class="post__about-visual">
		</div>
		<div class="post__aboutcontent">
			<div class="post__aboutcontent--1">
				当サイトについて
			</div>
			<div class="post__aboutcontent--2">
				お気に入りや好きなものを共有して繋がろう、<br>
				レビューし合おうをコンセプトにしています<br>
				好きな作品、モノを共有して新しい発見をし、<br>
				今まで好きだったものを、より一層好きになりませんか？
			</div>
		</div>