<div class="about">
	<div class="about__visual--content">
		<div class="about__visual--content-image">
		</div>
	</div>
		<div class="about__content--1">
			当サイトについて
		</div>
		<div class="about__content--2">
			お気に入りや好きなものを共有して繋がろう、<br>
			レビューし合おうをコンセプトにしています<br>
			好きな作品、モノを共有して新しい発見をし、<br>
			今まで好きだったものを、より一層好きになりませんか？
		</div>
	</div>