// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
	width: 100%;

	&__about-visual {
	background-image: url(/assets/image-1.jpg);
	background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
	height: 300px;
	}

	&__aboutcontent {
	background-image: url(/assets/image-2.jpg);
	background-size: cover;
	height: 400px;

	&--1 {
	font-size: xx-large;
	font-family: serif;
	padding: 30px;
	width: 350px;
	background-color: rgba(255,255,255,0.8);
	}

	&--2 {
	font-size: 20px;
	float: right;
	margin: 0px 150px;
	background-color: rgba(255,255,255,0.8);

		}
	}

	&__main {
	margin: 0 auto;
	width: 1330px;
	background-color: yellow;
	height: 800px;
	display: flex;
	}

	&__main-user {
	width: 200px;
	height: 800px;
	background-color: red;

	&--image {
	margin: 0 45px;
	}

	&--name {
	margin: 0 10px;
	}

	&--introduction {
	margin: 0 10px;
		}
	}

	&__main-content {
	background-color: #f0f8ff;
	width: 930px;
	height: auto;;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&--body {
	width: 300px;
	height: auto;
	padding: 20px;
	 }

	&--body-paginate {
	margin: 0 80px;
		}
	}

	&__main-category {
	background-color: red;
	width: 200px;
	height: 800px;

	&--name {
	font-size: 15px;
	margin: 10px 60px;
	}

	&--link {
	margin: 30px 60px;
	}
}
}














