// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user {
	width: 100px;

	&__main {
	width: 1200px;
	height: auto;
	}

	&__main-about {
	width: auto;
	height: auto;
	background-color: yellow;
	margin: 10 30px;
	}
}